<mat-toolbar color="primary">
  <span routerLink="home" routerLinkActive="active" class="menu-title">Cuaderno</span>
  <span class="spacer"></span>
  <button mat-button routerLink="manhwa" routerLinkActive="active">Manhwas</button>
  <button mat-button routerLink="newManhwa" routerLinkActive="active">New Manhwa</button>
  <button mat-button routerLink="anime" routerLinkActive="active">Anime</button>
  <button mat-button routerLink="newAnime" routerLinkActive="active">New Anime</button>
  <button mat-icon-button routerLink="login" routerLinkActive="active" aria-label="Login">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
